#services_container_blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  background-color: #e9eaec;
  padding: 20px;
}

#blog_link{
  text-decoration: none;
}

@media (max-width: 390px){
  #blog_card{
    max-width: 340px;
    min-height: 350px !important; 
  }
}
