#hero_container{
    display: flex;
    justify-content: center;
}

#main_img{
    width: 85%;
}

#main_img:hover{
    
    opacity: 0.9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}