#container_quotes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-direction: row;
  width: 100%;
  position: relative;
  margin-top: 10px;
}

#container_quotes:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e5e5f7;
  opacity: 0.2;
  background: repeating-linear-gradient(
    -45deg,
    #c1b6bb,
    #c1b6bb 5px,
    #e5e5f7 5px,
    #e5e5f7 25px
  );
}

#quote_img {
  width: 200px;
}

#quotes_box {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 50px;
  gap: 30px;
  z-index: 2;
}
